

body {
    font-family: monospace;
    background-color: #1c1c1c;
    color: #f0f0f0;
    text-align: center;
}

.button-bar{
    position: fixed;
    bottom: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 40px;
}

.sprite-button {
    width: 120px;
    height: 40px;
    background-image: url("/static/sprites/AttackFireballSprite.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    cursor: pointer;
    margin: 10px;
}

.sprite-attack {
    background-position: 0 0;
}

.sprite-fireball {
    background-position: -120px 0;
}
