<!DOCTYPE html>
<html lang="en">
<head>
    <title>Battle Arena</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <h1>🔥 Solo Leveling Battle Arena</h1>
    <p>Your HP: {{ stats["hp"] }}</p>
    <p>Enemy HP: <span id="enemy-hp">{{ enemy["hp"] }}</span></p>

    <div class = "button-bar">
        <button class="action-button attack" onclick="attack()"></button>
        <button class="action-button fireball" onclick="fireball()"></button>
    </div>
    <p id="attackBut"></p>
    <p id="fireballBut"></p>

    <script src="/static/js/game.js"></script>
</body>

</html>
